* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY COLOR */
body {
    background-color: #EEF1F2;
}

/* HEADER SECTION */
header {
    background-image: url("header.jpg");
    min-height: 60vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

.logo {
    font-size: 30px;
    display: inline;
    color: white;
    padding-left: 20px;
}

header > nav {
    display: inline;
}
nav > ul {
    display: flex;
    float: right;  
    list-style: none;
}

.nav-item {
    padding-right: 5px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

main {
    color: white;
    position: absolute;
    bottom: 55%;
    right: 16px;
}

/* ABOUT US SECTION*/
.firstContainer {
    display: flex;
}

#About {
    
    
}

.about-us-img-sec {
    
   
}

.aboutUsImg {
    height: 300px;
    margin-top: 10%;
}

/* PLAY TIME SECOND SECTION */
.playTime h2 {
    height: 50px;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.playTime p {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
.playTime {
    background-color: #B3C6C5;
    margin-top: 15px;
}

.playTime-images-grid {
    display: flex;
    flex-wrap: wrap;
}
.picspPlayTime {
  
    height: 200px;
    width: 100%;
}

/* SERVICES SECTION THIRD SECTION*/

#Services h2 {
    text-align: center;
}
.servicesSection {
    display: flex;
    
}
.fa-dog {
   
}

.thirdContainer {
    margin-top: 15px;
    background-color: #B3C6C5;
    padding-top: 20px;
    color: white;
    text-align: center;
    
}

/* FOURTH SECTION CONTACT US */

input, textarea { 
    outline: none;
    }
.fourthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #EEF1F2;
    }

form {
    position: relative;
    width: 80%;
    border-radius: 30px;
    background: #fff;
    }
    .form-left-decoration,
    .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background: #99B2A9;
    }
    .form-left-decoration {
    bottom: 60px;
    left: -30px;
    }
    .form-right-decoration {
    top: 60px;
    right: -30px;
    }
    .form-left-decoration:before,
    .form-left-decoration:after,
    .form-right-decoration:before,
    .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: #fff;
    }
    .form-left-decoration:before {
    top: -20px;
    }
    .form-left-decoration:after {
    top: 20px;
    left: 10px;
    }
    .form-right-decoration:before {
    top: -20px;
    right: 0;
    }
    .form-right-decoration:after {
    top: 20px;
    right: 10px;
    }
    .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    }
    .form-inner {
    padding: 40px;
    }
    .form-inner input,
    .form-inner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #d0dfe8;
    }
    .form-inner textarea {
    resize: none;
    }
    button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid #323f1f;
    background: #99B2A9; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    }
    button:hover {
    background: #AAC0AE;
    } 
    @media (min-width: 568px) {
    form {
    width: 60%;
    }
    }

    /* FOOTER SECTION */
footer {
    background-color: #96ADB0;
}