* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}
/* BODY COLOR */
body {
  background-color: #E8F0F2;
}

/* HEADER SECTION */
header {
  background-image: url("header.jpg");
  min-height: 60vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo {
  font-size: 30px;
  color: white;
  padding-left: 15px;
  font-family: "Varela Round", sans-serif;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
  padding-right: 10px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  padding-top: 15px;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
}

main {
  color: white;
  position: absolute;
  top: 15%;
  right: 5px;
}

/* ABOUT US SECTION*/
.firstContainer {
  display: flex;
  margin-left: 25px;
  margin-top: 25px;
}

#About {
  padding-right: 50px;
  color: hsl(232, 10%, 55%);
}

.aboutUsImg {
  height: 300px;
  margin-top: 10px;
}

.btn {
  border-radius: 20px;
  border: none;
  border-bottom: 2px solid #88d1d7;
  background: #39A2DB;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.btn:hover {
  background: #40bfbb;
}

/* PLAY TIME SECOND SECTION */
.secondContainer {
}
.playTime h2 {
  height: 50px;
  text-align: center;
  padding-top: 10px;
  color: white;
}

.playTime p {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
.playTime {
  background-color: #A2DBFA;
  margin-top: 15px;
}

.playTime-images-grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 0 -5px;
  overflow: hidden;
}
.picspPlayTime {
  padding-top: 5px;
  height: 300px;
  width: 400px;
  margin: 0 5px;
  border-radius: 8px;
}

/* SERVICES SECTION THIRD SECTION*/

#Services h2 {
  text-align: center;
  margin-bottom: 10px;
}

#Services {
  padding: 10px;
}

.thirdContainer {
  margin-top: 15px;
  background-color: #A2DBFA;
  color: white;
}

.daycare-sec {
  display: flex;
  flex-direction: row-reverse;
  background-color: #E8F0F2;
  color: hsl(232, 10%, 55%);
}
.daycare-image {
  max-width: 50%;
}
.daycare-paragraph {
  padding: 10px;
  max-width: 50%;
  place-self: center;
  text-align: center;
}

.boarding-sec {
  display: flex;
}
.boarding-image {
  max-width: 50%;
}
.boarding-paragraph {
  padding: 10px;
  max-width: 50%;
  place-self: center;
  text-align: center;
}
/* Client testimonials */

.clients {
    display: flex;
}
.client-reviews h3 {
    margin-top: 15px;
    color: hsl(210, 4%, 67%);
  }
  .client-reviews {
    text-align: center;
  }
  
  .client-photo {
    border-radius: 50%;
    margin-top: 5%;
    height: 100px;
    width: 100px;
  }
  .review {
    color: hsl(232, 10%, 55%);
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 0 12%;
    font-family: "Barlow", sans-serif;
  }


/* FOURTH SECTION CONTACT US */

input,
textarea {
  outline: none;
}
.fourthContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #A2DBFA;
}

form {
  position: relative;
  width: 80%;
  border-radius: 30px;
  background: #fff;
}
.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background: #39A2DB;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: #fff;
}
.form-left-decoration:before {
  top: -20px;
}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
  top: -20px;
  right: 0;
}
.form-right-decoration:after {
  top: 20px;
  right: 10px;
}
.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}
.form-inner {
  padding: 40px;
}
.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background: #d0dfe8;
}
.form-inner textarea {
  resize: none;
}
.submit-btn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  border-bottom: 2px solid #88d1d7;
  background: #39A2DB;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.submit-btn:hover {
  background: #40bfbb;
}
@media (min-width: 568px) {
  form {
    width: 60%;
  }
}

/* FOOTER SECTION */
footer {
  background-color: #053742;
  text-align: center;
  max-width: 100%;
}

.footer-logo {
  padding-top: 20px;
  font-size: 30px;
  color: white;
  font-family: "Varela Round", sans-serif;
}
address {
  color: white;
  line-height: 2em;
  font-size: 1.1em;
}

.socials {
  padding-top: 30px;
  padding-bottom: 5%;
}

.socials img {
  padding-right: 3.33%;
  cursor: pointer;
  padding-left: 2%;
}
.socials img:hover {
    
}

/* MOBILE VIEW */

@media screen and (max-width: 550px) {
  .firstContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #About {
    justify-self: center;
  }
  .about-us-img-sec {
    padding-right: 34px;
  }
  .logo {
    font-size: 25px;
    color: white;
    padding-left: 5px;
    font-family: "Varela Round", sans-serif;
  }
  main {
    position: absolute;
    top: 15%;
    right: 5px;
   
  }
  main h1 {
    font-size: 21px;
  }
  main p {
    font-size: 15px;
  }
  .daycare-sec {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

  }
  .daycare-image {
    max-width: 100%;
  }
  .boarding-sec {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

  }
  .boarding-image {
    max-width: 100%;
  }

  .clients {
    display: flex;
    flex-direction: column;
}
}

@media screen and (max-width: 850px) {
  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #37a49dd5;
    
  }

  .nav-ul.show {
    display: flex;
   
  }
  .hamburger {
    display: block;
  }
  .mainHide {
    
  }
}
