* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY COLOR */
body {
    background-color: #EEF1F2;
}

/* HEADER SECTION */
header {
    background-image: url("header.jpg");
    min-height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

.logo {
    font-size: 20px;
    display: inline;
    color: white;
    padding-left: 20px;
}

nav {
    display: inline;
}
ul {
    display: flex;
    float: right;  
    list-style: none;
}

.nav-item {
    padding-right: 5px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

/* ABOUT US SECTION*/
.firstContainer {
    display: flex;
}

#About {
    min-width: 50%;
    
}

.about-us-img-sec {
    min-width: 50%;
    padding-left: 15%;
}

.aboutUsImg {
    height: 300px;
    width: 100%;
    margin-top: 10%;
}

/* PLAY TIME SECOND SECTION */
.playTime h2 {
    height: 50px;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.playTime p {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
.playTime {
    background-color: #B3C6C5;
    margin-top: 15px;
}

.playTime-images-grid {
    display: flex;
    flex-wrap: wrap;
}
.picspPlayTime {
  
    height: 200px;
    width: 100%;
}

/* SERVICES SECTION THIRD SECTION*/

#Services h2 {
    text-align: center;
}
.servicesSection {
    display: flex;
}
.fa-dog {
   
}

.thirdContainer {
    margin-top: 15px;
    background-color: #B3C6C5;
    padding-top: 20px;
    color: white;
    text-align: center;
}
